{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare Pages API",
    "description": "Extracted Pages-related endpoints from Cloudflare API",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "paths": {
    "/accounts/{account_id}/pages/projects": {
      "get": {
        "description": "Fetch a list of all user projects.",
        "operationId": "pages-project-get-projects",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Which page of projects to fetch.",
              "example": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "How many projects to return per page.",
              "example": 10,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/pages_project"
                          },
                          "type": "array"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get projects response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get projects response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get projects",
        "tags": ["Pages Project"],
        "x-api-token-group": ["Pages Read", "Pages Write"]
      },
      "post": {
        "description": "Create a new project.",
        "operationId": "pages-project-create-project",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "build_config": {
                    "description": "Configs for the project build process.",
                    "properties": {
                      "build_caching": {
                        "description": "Enable build caching for the project.",
                        "example": true,
                        "type": "boolean",
                        "x-auditable": true
                      },
                      "build_command": {
                        "description": "Command used to build project.",
                        "example": "npm run build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "destination_dir": {
                        "description": "Output directory of the build.",
                        "example": "build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "root_dir": {
                        "description": "Directory to run the command.",
                        "example": "/",
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_tag": {
                        "description": "The classifying tag for analytics.",
                        "example": "cee1c73f6e4743d0b5e6bb1a0bcaabcc",
                        "nullable": true,
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_token": {
                        "description": "The auth token for analytics.",
                        "example": "021e1057c18547eca7b79f2516f06o7x",
                        "nullable": true,
                        "type": "string",
                        "x-sensitive": true
                      }
                    },
                    "type": "object"
                  },
                  "deployment_configs": {
                    "description": "Configs for deployments in a project.",
                    "properties": {
                      "preview": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for preview deploys."
                      },
                      "production": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for production deploys."
                      }
                    },
                    "type": "object"
                  },
                  "name": {
                    "description": "Name of the project.",
                    "example": "my-pages-app",
                    "type": "string",
                    "x-auditable": true
                  },
                  "production_branch": {
                    "description": "Production branch of the project. Used to identify production deployments.",
                    "example": "main",
                    "type": "string",
                    "x-auditable": true
                  },
                  "source": {
                    "description": "Configs for the project source control.",
                    "properties": {
                      "config": {
                        "properties": {
                          "deployments_enabled": {
                            "deprecated": true,
                            "description": "Whether to enable automatic deployments when pushing to the source repository.\nWhen disabled, no deployments (production or preview) will be triggered automatically.\n",
                            "type": "boolean",
                            "x-auditable": true,
                            "x-stainless-deprecation-message": "Use `production_deployments_enabled` and `preview_deployment_setting` for more granular control."
                          },
                          "owner": {
                            "description": "The owner of the repository.",
                            "example": "my-org",
                            "type": "string",
                            "x-auditable": true
                          },
                          "owner_id": {
                            "description": "The owner ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "path_excludes": {
                            "description": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "path_includes": {
                            "description": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "pr_comments_enabled": {
                            "description": "Whether to enable PR comments.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "preview_branch_excludes": {
                            "description": "A list of branches that should not trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_branch_includes": {
                            "description": "A list of branches that should trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_deployment_setting": {
                            "description": "Controls whether commits to preview branches trigger a preview deployment.",
                            "enum": ["all", "none", "custom"],
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_branch": {
                            "description": "The production branch of the repository.",
                            "example": "main",
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_deployments_enabled": {
                            "description": "Whether to trigger a production deployment on commits to the production branch.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "repo_id": {
                            "description": "The ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "repo_name": {
                            "description": "The name of the repository.",
                            "example": "my-repo",
                            "type": "string",
                            "x-auditable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": {
                        "description": "The source control management provider.",
                        "enum": ["github", "gitlab"],
                        "example": "github",
                        "type": "string",
                        "x-auditable": true
                      }
                    },
                    "required": ["type", "config"],
                    "type": "object"
                  }
                },
                "required": ["name", "production_branch"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_project"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create project response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Create project response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create project",
        "tags": ["Pages Project"],
        "x-api-token-group": ["Pages Write"]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}": {
      "delete": {
        "description": "Delete a project by name.",
        "operationId": "pages-project-delete-project",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "nullable": true,
                          "type": "object"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete project response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Delete project response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete project",
        "tags": ["Pages Project"],
        "x-api-token-group": ["Pages Write"]
      },
      "get": {
        "description": "Fetch a project by name.",
        "operationId": "pages-project-get-project",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_project"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get project response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get project response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get project",
        "tags": ["Pages Project"],
        "x-api-token-group": ["Pages Read", "Pages Write"]
      },
      "patch": {
        "description": "Set new attributes for an existing project. Modify environment variables. To delete an environment variable, set the key to null.",
        "operationId": "pages-project-update-project",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "deployment_configs": {
                    "production": {
                      "compatibility_date": "2022-01-01",
                      "compatibility_flags": ["url_standard"],
                      "env_vars": {
                        "NODE_VERSION": {
                          "value": "22"
                        },
                        "delete_this_env_var": null,
                        "secret_var": {
                          "type": "secret_text",
                          "value": "A_CMS_API_TOKEN"
                        }
                      }
                    }
                  }
                },
                "properties": {
                  "build_config": {
                    "description": "Configs for the project build process.",
                    "properties": {
                      "build_caching": {
                        "description": "Enable build caching for the project.",
                        "example": true,
                        "type": "boolean",
                        "x-auditable": true
                      },
                      "build_command": {
                        "description": "Command used to build project.",
                        "example": "npm run build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "destination_dir": {
                        "description": "Output directory of the build.",
                        "example": "build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "root_dir": {
                        "description": "Directory to run the command.",
                        "example": "/",
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_tag": {
                        "description": "The classifying tag for analytics.",
                        "example": "cee1c73f6e4743d0b5e6bb1a0bcaabcc",
                        "nullable": true,
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_token": {
                        "description": "The auth token for analytics.",
                        "example": "021e1057c18547eca7b79f2516f06o7x",
                        "nullable": true,
                        "type": "string",
                        "x-sensitive": true
                      }
                    },
                    "type": "object"
                  },
                  "deployment_configs": {
                    "description": "Configs for deployments in a project.",
                    "properties": {
                      "preview": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for preview deploys."
                      },
                      "production": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for production deploys."
                      }
                    },
                    "type": "object"
                  },
                  "name": {
                    "description": "Name of the project.",
                    "example": "my-pages-app",
                    "type": "string",
                    "x-auditable": true
                  },
                  "production_branch": {
                    "description": "Production branch of the project. Used to identify production deployments.",
                    "example": "main",
                    "type": "string",
                    "x-auditable": true
                  },
                  "source": {
                    "description": "Configs for the project source control.",
                    "properties": {
                      "config": {
                        "properties": {
                          "deployments_enabled": {
                            "deprecated": true,
                            "description": "Whether to enable automatic deployments when pushing to the source repository.\nWhen disabled, no deployments (production or preview) will be triggered automatically.\n",
                            "type": "boolean",
                            "x-auditable": true,
                            "x-stainless-deprecation-message": "Use `production_deployments_enabled` and `preview_deployment_setting` for more granular control."
                          },
                          "owner": {
                            "description": "The owner of the repository.",
                            "example": "my-org",
                            "type": "string",
                            "x-auditable": true
                          },
                          "owner_id": {
                            "description": "The owner ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "path_excludes": {
                            "description": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "path_includes": {
                            "description": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "pr_comments_enabled": {
                            "description": "Whether to enable PR comments.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "preview_branch_excludes": {
                            "description": "A list of branches that should not trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_branch_includes": {
                            "description": "A list of branches that should trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_deployment_setting": {
                            "description": "Controls whether commits to preview branches trigger a preview deployment.",
                            "enum": ["all", "none", "custom"],
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_branch": {
                            "description": "The production branch of the repository.",
                            "example": "main",
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_deployments_enabled": {
                            "description": "Whether to trigger a production deployment on commits to the production branch.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "repo_id": {
                            "description": "The ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "repo_name": {
                            "description": "The name of the repository.",
                            "example": "my-repo",
                            "type": "string",
                            "x-auditable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": {
                        "description": "The source control management provider.",
                        "enum": ["github", "gitlab"],
                        "example": "github",
                        "type": "string",
                        "x-auditable": true
                      }
                    },
                    "required": ["type", "config"],
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_project"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update project response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Update project response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update project",
        "tags": ["Pages Project"],
        "x-api-token-group": ["Pages Write"]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/deployments": {
      "get": {
        "description": "Fetch a list of project deployments.",
        "operationId": "pages-deployment-get-deployments",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          },
          {
            "in": "query",
            "name": "env",
            "schema": {
              "description": "What type of deployments to fetch.",
              "enum": ["production", "preview"],
              "example": "preview",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Which page of deployments to fetch.",
              "example": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "How many deployments to return per page.",
              "example": 10,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/pages_deployment"
                          },
                          "type": "array"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get deployments response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get deployments response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get deployments",
        "tags": ["Pages Deployment"],
        "x-api-token-group": ["Pages Read", "Pages Write"]
      },
      "post": {
        "description": "Start a new deployment from production. The repository and account must have already been authorized on the Cloudflare Pages dashboard.",
        "operationId": "pages-deployment-create-deployment",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {
                "_headers": {
                  "contentType": "text/plain"
                },
                "_redirects": {
                  "contentType": "text/plain"
                },
                "_routes.json": {
                  "contentType": "application/json"
                },
                "_worker.bundle": {
                  "contentType": "multipart/form-data"
                },
                "_worker.js": {
                  "contentType": "application/javascript+module, text/javascript+module, application/javascript, text/javascript"
                },
                "functions-filepath-routing-config.json": {
                  "contentType": "application/json"
                },
                "manifest": {
                  "contentType": "application/json"
                }
              },
              "schema": {
                "properties": {
                  "_headers": {
                    "description": "Headers configuration file for the deployment.",
                    "format": "binary",
                    "type": "string"
                  },
                  "_redirects": {
                    "description": "Redirects configuration file for the deployment.",
                    "format": "binary",
                    "type": "string"
                  },
                  "_routes.json": {
                    "description": "Routes configuration file defining routing rules.",
                    "format": "binary",
                    "type": "string"
                  },
                  "_worker.bundle": {
                    "description": "Worker bundle file in multipart/form-data format. Mutually exclusive with `_worker.js`.\nCannot specify both `_worker.js` and `_worker.bundle` in the same request.\nMaximum size: 25 MiB.\n",
                    "format": "binary",
                    "type": "string"
                  },
                  "_worker.js": {
                    "description": "Worker JavaScript file. Mutually exclusive with `_worker.bundle`.\nCannot specify both `_worker.js` and `_worker.bundle` in the same request.\n",
                    "format": "binary",
                    "type": "string"
                  },
                  "branch": {
                    "description": "The branch to build the new deployment from. The `HEAD` of the branch will be used. If omitted, the production branch will be used by default.",
                    "example": "staging",
                    "type": "string",
                    "x-auditable": true
                  },
                  "commit_dirty": {
                    "description": "Boolean string indicating if the working directory has uncommitted changes.",
                    "enum": ["true", "false"],
                    "example": "false",
                    "type": "string"
                  },
                  "commit_hash": {
                    "description": "Git commit SHA associated with this deployment.",
                    "example": "a1b2c3d4e5f6",
                    "type": "string"
                  },
                  "commit_message": {
                    "description": "Git commit message associated with this deployment.",
                    "example": "Update homepage",
                    "type": "string"
                  },
                  "functions-filepath-routing-config.json": {
                    "description": "Functions routing configuration file.",
                    "format": "binary",
                    "type": "string"
                  },
                  "manifest": {
                    "description": "JSON string containing a manifest of files to deploy. Maps file paths to their content hashes.\nRequired for direct upload deployments. Maximum 20,000 entries.\n",
                    "example": "{\"index.html\": \"abc123\", \"style.css\": \"def456\"}",
                    "type": "string"
                  },
                  "pages_build_output_dir": {
                    "description": "The build output directory path.",
                    "example": "dist",
                    "type": "string"
                  },
                  "wrangler_config_hash": {
                    "description": "Hash of the Wrangler configuration file used for this deployment.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_deployment"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create deployment response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Create deployment response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create deployment",
        "tags": ["Pages Deployment"],
        "x-api-token-group": ["Pages Write"]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}": {
      "delete": {
        "description": "Delete a deployment.",
        "operationId": "pages-deployment-delete-deployment",
        "parameters": [
          {
            "in": "path",
            "name": "deployment_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "nullable": true,
                          "type": "object"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete deployment response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Delete deployment response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete deployment",
        "tags": ["Pages Deployment"],
        "x-api-token-group": ["Pages Write"]
      },
      "get": {
        "description": "Fetch information about a deployment.",
        "operationId": "pages-deployment-get-deployment-info",
        "parameters": [
          {
            "in": "path",
            "name": "deployment_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_deployment"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get deployment info response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get deployment info response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get deployment info",
        "tags": ["Pages Deployment"],
        "x-api-token-group": ["Pages Read", "Pages Write"]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}/history/logs": {
      "get": {
        "description": "Fetch deployment logs for a project.",
        "operationId": "pages-deployment-get-deployment-logs",
        "parameters": [
          {
            "in": "path",
            "name": "deployment_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_deployment_log"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get deployment logs response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get deployment logs response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get deployment logs",
        "tags": ["Pages Deployment"],
        "x-api-token-group": ["Pages Read", "Pages Write"]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}/retry": {
      "post": {
        "description": "Retry a previous deployment.",
        "operationId": "pages-deployment-retry-deployment",
        "parameters": [
          {
            "in": "path",
            "name": "deployment_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_deployment"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Retry deployment response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Retry deployment response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Retry deployment",
        "tags": ["Pages Deployment"],
        "x-api-token-group": ["Pages Write"]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}/rollback": {
      "post": {
        "description": "Rollback the production deployment to a previous deployment. You can only rollback to succesful builds on production.",
        "operationId": "pages-deployment-rollback-deployment",
        "parameters": [
          {
            "in": "path",
            "name": "deployment_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_deployment"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Rollback deployment response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Rollback deployment response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Rollback deployment",
        "tags": ["Pages Deployment"],
        "x-api-token-group": ["Pages Write"]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/domains": {
      "get": {
        "description": "Fetch a list of all domains associated with a Pages project.",
        "operationId": "pages-domains-get-domains",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/pages_domain"
                          },
                          "type": "array"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get domains response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get domains response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get domains",
        "tags": ["Pages Domains"],
        "x-api-token-group": ["Pages Read", "Pages Write"]
      },
      "post": {
        "description": "Add a new domain for the Pages project.",
        "operationId": "pages-domains-add-domain",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/pages_domain_name"
                  }
                },
                "required": ["name"],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_domain"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Add domain response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Add domain response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Add domain",
        "tags": ["Pages Domains"],
        "x-api-token-group": ["Pages Write"]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/domains/{domain_name}": {
      "delete": {
        "description": "Delete a Pages project's domain.",
        "operationId": "pages-domains-delete-domain",
        "parameters": [
          {
            "in": "path",
            "name": "domain_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_domain_name"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "nullable": true,
                          "type": "object"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete domain response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Delete domain response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete domain",
        "tags": ["Pages Domains"],
        "x-api-token-group": ["Pages Write"]
      },
      "get": {
        "description": "Fetch a single domain.",
        "operationId": "pages-domains-get-domain",
        "parameters": [
          {
            "in": "path",
            "name": "domain_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_domain_name"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_domain"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get domain response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get domain response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get domain",
        "tags": ["Pages Domains"],
        "x-api-token-group": ["Pages Read", "Pages Write"]
      },
      "patch": {
        "description": "Retry the validation status of a single domain.",
        "operationId": "pages-domains-patch-domain",
        "parameters": [
          {
            "in": "path",
            "name": "domain_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_domain_name"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_domain"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Patch domain response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Patch domain response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Patch domain",
        "tags": ["Pages Domains"],
        "x-api-token-group": ["Pages Write"]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/purge_build_cache": {
      "post": {
        "description": "Purge all cached build artifacts for a Pages project",
        "operationId": "pages-purge-build-cache",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_project_name"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/pages_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "nullable": true,
                          "type": "object"
                        }
                      },
                      "required": ["result"],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Purge build cache response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Purge build cache failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Purge build cache",
        "tags": ["Pages Build Cache"],
        "x-api-token-group": ["Pages Write"]
      }
    },
    "/zones/{zone_id}/speed_api/pages/{url}/tests": {
      "delete": {
        "description": "Deletes all tests for a specific webpage from a specific region. Deleted tests are still counted as part of the quota.",
        "operationId": "speed-delete-tests",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_identifier"
            }
          },
          {
            "in": "path",
            "name": "url",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_url"
            }
          },
          {
            "in": "query",
            "name": "region",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/observatory_region"
                },
                {
                  "default": "us-central1",
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/observatory_count-response"
                }
              }
            },
            "description": "Number of deleted tests."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/observatory_api-response-common-failure"
                }
              }
            },
            "description": "Failure response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete all page tests",
        "tags": ["Observatory"],
        "x-api-token-group": ["Zone Settings Write"],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "description": "Test history (list of tests) for a specific webpage.",
        "operationId": "speed-list-test-history",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_identifier"
            }
          },
          {
            "in": "path",
            "name": "url",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_url"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "maximum": 50,
              "minimum": 5,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "region",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/observatory_region"
                },
                {
                  "default": "us-central1",
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/observatory_page-test-response-collection"
                }
              }
            },
            "description": "List of test history for a page."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/observatory_api-response-common-failure"
                }
              }
            },
            "description": "Failure response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List page test history",
        "tags": ["Observatory"],
        "x-api-token-group": ["Zone Settings Write", "Zone Settings Read"],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Starts a test for a specific webpage, in a specific region.",
        "operationId": "speed-create-test",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_identifier"
            }
          },
          {
            "in": "path",
            "name": "url",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_url"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "region": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/observatory_region"
                      },
                      {
                        "default": "us-central1",
                        "type": "string"
                      }
                    ]
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/observatory_page-test-response-single"
                }
              }
            },
            "description": "Page test details."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/observatory_api-response-common-failure"
                }
              }
            },
            "description": "Failure response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Start page test",
        "tags": ["Observatory"],
        "x-api-token-group": ["Zone Settings Write"],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/speed_api/pages/{url}/tests/{test_id}": {
      "get": {
        "description": "Retrieves the result of a specific test.",
        "operationId": "speed-get-test",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_identifier"
            }
          },
          {
            "in": "path",
            "name": "url",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_url"
            }
          },
          {
            "in": "path",
            "name": "test_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/observatory_page-test-response-single"
                }
              }
            },
            "description": "Page test result."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/observatory_api-response-common-failure"
                }
              }
            },
            "description": "Failure response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get a page test result",
        "tags": ["Observatory"],
        "x-api-token-group": ["Zone Settings Write", "Zone Settings Read"],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/speed_api/pages/{url}/trend": {
      "get": {
        "description": "Lists the core web vital metrics trend over time for a specific page.",
        "operationId": "speed-list-page-trend",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_identifier"
            }
          },
          {
            "in": "path",
            "name": "url",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_url"
            }
          },
          {
            "in": "query",
            "name": "region",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_region"
            }
          },
          {
            "in": "query",
            "name": "deviceType",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_device_type"
            }
          },
          {
            "in": "query",
            "name": "start",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/observatory_timestamp"
            }
          },
          {
            "in": "query",
            "name": "end",
            "schema": {
              "$ref": "#/components/schemas/observatory_timestamp"
            }
          },
          {
            "description": "The timezone of the start and end timestamps.",
            "example": "America/Chicago",
            "in": "query",
            "name": "tz",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "A comma-separated list of metrics to include in the results.",
            "in": "query",
            "name": "metrics",
            "required": true,
            "schema": {
              "example": "performanceScore,ttfb,fcp,si,lcp,tti,tbt,cls",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/observatory_trend-response"
                }
              }
            },
            "description": "Page trend."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/observatory_api-response-common-failure"
                }
              }
            },
            "description": "Failure response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List core web vital metrics trend",
        "tags": ["Observatory"],
        "x-api-token-group": ["Zone Settings Write", "Zone Settings Read"],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "api_email": {
        "in": "header",
        "name": "X-Auth-Email",
        "type": "apiKey"
      },
      "api_key": {
        "in": "header",
        "name": "X-Auth-Key",
        "type": "apiKey"
      },
      "api_token": {
        "scheme": "bearer",
        "type": "http"
      },
      "user_service_key": {
        "in": "header",
        "name": "X-Auth-User-Service-Key",
        "type": "apiKey"
      }
    },
    "schemas": {
      "observatory_page-test-response-collection": {
        "allOf": [
          {
            "$ref": "#/components/schemas/observatory_api-response-collection"
          },
          {
            "properties": {
              "result": {
                "items": {
                  "$ref": "#/components/schemas/observatory_page_test"
                },
                "type": "array"
              }
            },
            "type": "object"
          },
          {
            "properties": {
              "result_info": {
                "$ref": "#/components/schemas/observatory_result_info"
              }
            },
            "type": "object"
          }
        ]
      },
      "observatory_timestamp": {
        "example": "2014-01-01T05:20:00.12345Z",
        "format": "date-time",
        "type": "string",
        "x-auditable": true
      },
      "observatory_url": {
        "description": "A URL.",
        "example": "example.com",
        "type": "string",
        "x-auditable": true
      },
      "pages_api-response-collection": {
        "allOf": [
          {
            "$ref": "#/components/schemas/pages_api-response-common"
          },
          {
            "properties": {
              "result_info": {
                "properties": {
                  "count": {
                    "description": "Total number of results for the requested service.",
                    "example": 1,
                    "type": "number"
                  },
                  "page": {
                    "description": "Current page within paginated list of results.",
                    "example": 1,
                    "type": "number"
                  },
                  "per_page": {
                    "description": "Number of results per page of results.",
                    "example": 20,
                    "type": "number"
                  },
                  "total_count": {
                    "description": "Total results available without any search parameters.",
                    "example": 2000,
                    "type": "number"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          }
        ],
        "type": "object"
      },
      "pages_domain": {
        "properties": {
          "certificate_authority": {
            "enum": ["google", "lets_encrypt"],
            "example": "lets_encrypt",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "created_on": {
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "domain_id": {
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "id": {
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "name": {
            "$ref": "#/components/schemas/pages_domain_name"
          },
          "status": {
            "enum": [
              "initializing",
              "pending",
              "active",
              "deactivated",
              "blocked",
              "error"
            ],
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "validation_data": {
            "properties": {
              "error_message": {
                "type": "string",
                "x-auditable": true
              },
              "method": {
                "enum": ["http", "txt"],
                "type": "string",
                "x-auditable": true
              },
              "status": {
                "enum": [
                  "initializing",
                  "pending",
                  "active",
                  "deactivated",
                  "error"
                ],
                "type": "string",
                "x-auditable": true
              },
              "txt_name": {
                "type": "string",
                "x-auditable": true
              },
              "txt_value": {
                "type": "string",
                "x-auditable": true
              }
            },
            "readOnly": true,
            "required": ["status", "method"],
            "type": "object"
          },
          "verification_data": {
            "properties": {
              "error_message": {
                "type": "string",
                "x-auditable": true
              },
              "status": {
                "enum": [
                  "pending",
                  "active",
                  "deactivated",
                  "blocked",
                  "error"
                ],
                "type": "string"
              }
            },
            "readOnly": true,
            "required": ["status"],
            "type": "object"
          },
          "zone_tag": {
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          }
        },
        "required": [
          "id",
          "domain_id",
          "name",
          "status",
          "created_on",
          "certificate_authority",
          "zone_tag",
          "validation_data",
          "verification_data"
        ],
        "type": "object"
      },
      "pages_api-response-common": {
        "properties": {
          "errors": {
            "$ref": "#/components/schemas/pages_messages"
          },
          "messages": {
            "$ref": "#/components/schemas/pages_messages"
          },
          "success": {
            "description": "Whether the API call was successful.",
            "enum": [true],
            "example": true,
            "type": "boolean"
          }
        },
        "required": ["success", "errors", "messages"],
        "type": "object"
      },
      "observatory_page-test-response-single": {
        "allOf": [
          {
            "$ref": "#/components/schemas/observatory_api-response-single"
          },
          {
            "properties": {
              "result": {
                "$ref": "#/components/schemas/observatory_page_test"
              }
            },
            "type": "object"
          }
        ]
      },
      "observatory_region": {
        "description": "A test region.",
        "enum": [
          "asia-east1",
          "asia-northeast1",
          "asia-northeast2",
          "asia-south1",
          "asia-southeast1",
          "australia-southeast1",
          "europe-north1",
          "europe-southwest1",
          "europe-west1",
          "europe-west2",
          "europe-west3",
          "europe-west4",
          "europe-west8",
          "europe-west9",
          "me-west1",
          "southamerica-east1",
          "us-central1",
          "us-east1",
          "us-east4",
          "us-south1",
          "us-west1"
        ],
        "example": "us-central1",
        "type": "string",
        "x-auditable": true
      },
      "pages_project": {
        "properties": {
          "build_config": {
            "$ref": "#/components/schemas/pages_build_config"
          },
          "canonical_deployment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/pages_deployment"
              },
              {
                "description": "Most recent production deployment of the project.",
                "nullable": true,
                "readOnly": true,
                "type": "object"
              }
            ]
          },
          "created_on": {
            "description": "When the project was created.",
            "example": "2017-01-01T00:00:00Z",
            "format": "date-time",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "deployment_configs": {
            "description": "Configs for deployments in a project.",
            "properties": {
              "preview": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/pages_deployment_config_values"
                  }
                ],
                "description": "Configs for preview deploys."
              },
              "production": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/pages_deployment_config_values"
                  }
                ],
                "description": "Configs for production deploys."
              }
            },
            "required": ["production", "preview"],
            "type": "object"
          },
          "domains": {
            "description": "A list of associated custom domains for the project.",
            "example": ["customdomain.com", "customdomain.org"],
            "items": {
              "type": "string",
              "x-auditable": true
            },
            "readOnly": true,
            "type": "array"
          },
          "framework": {
            "description": "Framework the project is using.",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "framework_version": {
            "description": "Version of the framework the project is using.",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "id": {
            "description": "ID of the project.",
            "example": "7b162ea7-7367-4d67-bcde-1160995d5",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "latest_deployment": {
            "allOf": [
              {
                "$ref": "#/components/schemas/pages_deployment"
              },
              {
                "description": "Most recent deployment of the project.",
                "nullable": true,
                "readOnly": true,
                "type": "object"
              }
            ]
          },
          "name": {
            "$ref": "#/components/schemas/pages_project_name"
          },
          "preview_script_name": {
            "description": "Name of the preview script.",
            "example": "pages-worker--1234567-preview",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "production_branch": {
            "description": "Production branch of the project. Used to identify production deployments.",
            "example": "main",
            "type": "string",
            "x-auditable": true
          },
          "production_script_name": {
            "description": "Name of the production script.",
            "example": "pages-worker--1234567-production",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "source": {
            "$ref": "#/components/schemas/pages_source"
          },
          "subdomain": {
            "description": "The Cloudflare subdomain associated with the project.",
            "example": "helloworld.pages.dev",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "uses_functions": {
            "description": "Whether the project uses functions.",
            "nullable": true,
            "readOnly": true,
            "type": "boolean",
            "x-auditable": true
          }
        },
        "required": [
          "id",
          "name",
          "deployment_configs",
          "latest_deployment",
          "canonical_deployment",
          "created_on",
          "production_branch",
          "production_script_name",
          "preview_script_name",
          "uses_functions",
          "framework",
          "framework_version"
        ],
        "type": "object"
      },
      "pages_api-response-common-failure": {
        "properties": {
          "errors": {
            "allOf": [
              {
                "$ref": "#/components/schemas/pages_messages"
              }
            ],
            "example": [
              {
                "code": 7003,
                "message": "No route for the URI"
              }
            ],
            "minLength": 1
          },
          "messages": {
            "allOf": [
              {
                "$ref": "#/components/schemas/pages_messages"
              }
            ],
            "example": []
          },
          "result": {
            "enum": [null],
            "nullable": true,
            "type": "object"
          },
          "success": {
            "description": "Whether the API call was successful.",
            "enum": [false],
            "example": false,
            "type": "boolean"
          }
        },
        "required": ["success", "errors", "messages", "result"],
        "type": "object"
      },
      "observatory_device_type": {
        "description": "The type of device.",
        "enum": ["DESKTOP", "MOBILE"],
        "example": "DESKTOP",
        "type": "string",
        "x-auditable": true
      },
      "pages_domain_name": {
        "description": "The domain name.",
        "example": "this-is-my-domain-01.com",
        "pattern": "^([a-zA-Z0-9][\\-a-zA-Z0-9]*\\.)+[\\-a-zA-Z0-9]{2,20}$",
        "type": "string",
        "x-auditable": true
      },
      "pages_deployment": {
        "properties": {
          "aliases": {
            "description": "A list of alias URLs pointing to this deployment.",
            "example": ["https://branchname.projectname.pages.dev"],
            "items": {
              "type": "string",
              "x-auditable": true
            },
            "nullable": true,
            "readOnly": true,
            "type": "array"
          },
          "build_config": {
            "$ref": "#/components/schemas/pages_build_config"
          },
          "created_on": {
            "description": "When the deployment was created.",
            "example": "2021-03-09T00:55:03.923456Z",
            "format": "date-time",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "deployment_trigger": {
            "description": "Info about what caused the deployment.",
            "properties": {
              "metadata": {
                "description": "Additional info about the trigger.",
                "properties": {
                  "branch": {
                    "description": "Where the trigger happened.",
                    "example": "main",
                    "type": "string",
                    "x-auditable": true
                  },
                  "commit_dirty": {
                    "description": "Whether the deployment trigger commit was dirty.",
                    "example": false,
                    "type": "boolean",
                    "x-auditable": true
                  },
                  "commit_hash": {
                    "description": "Hash of the deployment trigger commit.",
                    "example": "ad9ccd918a81025731e10e40267e11273a263421",
                    "type": "string",
                    "x-auditable": true
                  },
                  "commit_message": {
                    "description": "Message of the deployment trigger commit.",
                    "example": "Update index.html",
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "required": [
                  "branch",
                  "commit_hash",
                  "commit_message",
                  "commit_dirty"
                ],
                "type": "object"
              },
              "type": {
                "description": "What caused the deployment.",
                "enum": ["github:push", "ad_hoc", "deploy_hook"],
                "example": "ad_hoc",
                "type": "string",
                "x-auditable": true
              }
            },
            "readOnly": true,
            "required": ["type", "metadata"],
            "type": "object"
          },
          "env_vars": {
            "$ref": "#/components/schemas/pages_env_vars"
          },
          "environment": {
            "description": "Type of deploy.",
            "enum": ["preview", "production"],
            "example": "preview",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "id": {
            "description": "Id of the deployment.",
            "example": "f64788e9-fccd-4d4a-a28a-cb84f88f6",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "is_skipped": {
            "description": "If the deployment has been skipped.",
            "example": true,
            "readOnly": true,
            "type": "boolean",
            "x-auditable": true
          },
          "latest_stage": {
            "$ref": "#/components/schemas/pages_stage"
          },
          "modified_on": {
            "description": "When the deployment was last modified.",
            "example": "2021-03-09T00:58:59.045655",
            "format": "date-time",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "project_id": {
            "description": "Id of the project.",
            "example": "7b162ea7-7367-4d67-bcde-1160995d5",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "project_name": {
            "$ref": "#/components/schemas/pages_project_name"
          },
          "short_id": {
            "description": "Short Id (8 character) of the deployment.",
            "example": "f64788e9",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "source": {
            "$ref": "#/components/schemas/pages_source"
          },
          "stages": {
            "description": "List of past stages.",
            "example": [
              {
                "ended_on": "2021-06-03T15:39:03.134378Z",
                "name": "queued",
                "started_on": "2021-06-03T15:38:15.608194Z",
                "status": "active"
              },
              {
                "ended_on": null,
                "name": "initialize",
                "started_on": null,
                "status": "idle"
              },
              {
                "ended_on": null,
                "name": "clone_repo",
                "started_on": null,
                "status": "idle"
              },
              {
                "ended_on": null,
                "name": "build",
                "started_on": null,
                "status": "idle"
              },
              {
                "ended_on": null,
                "name": "deploy",
                "started_on": null,
                "status": "idle"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/pages_stage"
            },
            "readOnly": true,
            "type": "array"
          },
          "url": {
            "description": "The live URL to view this deployment.",
            "example": "https://f64788e9.ninjakittens.pages.dev",
            "readOnly": true,
            "type": "string",
            "x-auditable": true
          },
          "uses_functions": {
            "description": "Whether the deployment uses functions.",
            "nullable": true,
            "readOnly": true,
            "type": "boolean",
            "x-auditable": true
          }
        },
        "required": [
          "aliases",
          "build_config",
          "created_on",
          "deployment_trigger",
          "environment",
          "env_vars",
          "id",
          "is_skipped",
          "latest_stage",
          "modified_on",
          "project_id",
          "project_name",
          "short_id",
          "source",
          "stages",
          "url"
        ],
        "type": "object"
      },
      "pages_deployment_config_values_request": {
        "properties": {
          "ai_bindings": {
            "additionalProperties": {
              "description": "AI binding.",
              "nullable": true,
              "properties": {
                "project_id": {
                  "type": "string",
                  "x-auditable": true
                }
              },
              "required": ["project_id"],
              "type": "object"
            },
            "description": "Constellation bindings used for Pages Functions.",
            "example": {
              "AI_BINDING": {
                "project_id": "some-project-id"
              }
            },
            "type": "object"
          },
          "always_use_latest_compatibility_date": {
            "default": false,
            "description": "Whether to always use the latest compatibility date for Pages Functions.",
            "example": false,
            "type": "boolean",
            "x-auditable": true
          },
          "analytics_engine_datasets": {
            "additionalProperties": {
              "description": "Analytics Engine binding.",
              "nullable": true,
              "properties": {
                "dataset": {
                  "description": "Name of the dataset.",
                  "example": "api_analytics",
                  "type": "string",
                  "x-auditable": true
                }
              },
              "required": ["dataset"],
              "type": "object"
            },
            "description": "Analytics Engine bindings used for Pages Functions.",
            "example": {
              "ANALYTICS_ENGINE_BINDING": {
                "dataset": "api_analytics"
              }
            },
            "type": "object"
          },
          "browsers": {
            "additionalProperties": {
              "description": "Browser binding.",
              "nullable": true,
              "type": "object",
              "x-stainless-empty-object": true
            },
            "description": "Browser bindings used for Pages Functions.",
            "example": {
              "BROWSER": {}
            },
            "type": "object"
          },
          "build_image_major_version": {
            "default": 3,
            "description": "The major version of the build image to use for Pages Functions.",
            "example": 3,
            "type": "integer",
            "x-auditable": true
          },
          "compatibility_date": {
[...]
